* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.presentacion {
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #073310a2;
    align-items: center;
    height: 20%;
    padding: 20px 25px;
}

.navbar__title {
    color: #fff;
}

.navbar__enlaces {
    display: flex;
    flex-direction: row;
}

.navbar__enlace {
    list-style: none;
    margin: 15px 10px;
}

.navbar__enlace a {
    color: #fff;
    text-decoration: none;
}

.presentacion__screen {
    display: flex;
    align-items: center;
    height: 80%;
    border: 5px solid green;
}

.presentacion__title {
    width: 50%;
    padding: 60px;
}

.presentacion__text {
    padding: 60px;
    border: 1px solid #000;
}